[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
Before=docker.service
After=network-online.target

[Service]
Type=notify
Restart=always
RestartSec=5
EnvironmentFile=-/etc/default/flannel
LimitNOFILE=65536
ExecStart=/bin/flanneld -etcd-endpoints=${ETCD_ENDPOINTS} --ip-masq=true
# Update docker options
ExecStartPost=/opt/bin/mk-docker-opts.sh

[Install]
WantedBy=multi-user.target
