[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
After=etcd.service network-online.target
Before=docker.service

[Service]
Type=notify
Restart=always
RestartSec=5
EnvironmentFile=-/etc/default/flannel
LimitNOFILE=65536
ExecStartPre=/bin/sh /etc/etcdconfig.sh
ExecStart=/bin/flanneld -etcd-endpoints=${ETCD_ENDPOINTS} --ip-masq=true
# Update docker options
ExecStartPost=/etc/mk-docker-opts.sh

[Install]
WantedBy=multi-user.target
